<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="chatModalFragment">
    <script th:inline="javascript">
        $(function(){
            $('input[name=queryBox]').keydown(function(key) {
                //키의 코드가 13번일 경우 (13번은 엔터키)
                if (key.keyCode == 13) {
                    //경고창을 출력한다.
                    //alert("엔터키를 눌렀습니다.");
                    let keyword = $(this).val();

                    let jsonData = {"keyword":keyword};

                    $.ajax({
                        url:'/Photostagram/findAllUsers',
                        method:'POST',
                        data:jsonData,
                        dataType:'json',
                        success:function(data){
                            let users = data.users;
                            if(users.length == 0){
                                alert('사용자 없음');
                            }else{
                                $('.recommend').hide();
                                users.forEach(function(user){
                                    let member = "<div class='reco-list-main'>";
                                        member += "<div class='reco-list-img'>";
                                        member += "<span class='reco-list-img-1'>";
                                        if(user.profileImg == null){
                                            member += "<img class='reco-list-img-real' src='./img/44884218_345707102882519_2446069589734326272_n.jpg' alt='계정사진'>";
                                        }else{
                                            member += "<img class='reco-list-img-real' src='/Photostagram/thumb/"+user.profileImg+"' alt='계정사진'>";
                                        }
                                        member += "</span>";
                                        member += "</div>";
                                        member += "<div class='reco-id'>";
                                        member += "<div class='reco-id-1'>";
                                        member += "<div class='reco-id-2'>";
                                        member += "<div class='reco-id-3'>"+user.username+"</div>";
                                        member += "</div>";
                                        member += "</div>";
                                        member += "<div class='reco-name'>";
                                        if(user.text != null){
                                            member += "<div class='reco-name-1'>"+user.text+"</div>";
                                        }else{
                                            member += "<div class='reco-name-1'></div>";
                                        }
                                        member += "</div>";
                                        member += "</div>";
                                        member += "<div class='reco-btn' data-userno='"+user.no+"'>";
                                        member += "<label>";
                                        member += "<input type='checkbox' class='userCheck' name='userCheck'>";
                                        member += "</label>";
                                        member += "</div>";
                                        member += "</div>";

                                   $('.reco-list-wrap').append(member);
                                });

                                $('input[name=userCheck]').on('change', function(){
                                    let div = $(this).closest('div');
                                    let userCheck  = div.children('input[name=userCheck]');
                                    let label = userCheck.next('label');

                                    if(userCheck.is(':checked')){
                                         label.css({
                                            "content":"none"
                                        });
                                    }else{
                                         label.css({
                                            "content":"✔",
                                            "font-size": "15px",
                                            "width": "18px",
                                            "height": "18px",
                                            "text-align": "center",
                                            "position": "absolute"
                                        });
                                    }


                                    if($('input[type=checkBox]:checked').length == 0){
                                        $('.btn-next').attr("disabled", true);
                                        $('.btn-next').css("color", "#0000ff");
                                    }else{
                                        $('.btn-next').attr("disabled", false);
                                        $('.btn-next').css("color", "#0095f6");
                                    }

                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
<!--메시지 보내기 모달-->
<div id="overlay" class="new-wrap">
    <div class="new-content">
        <div class="new-head">
            <div class="new-head-close">
                <img id="confirm" th:src="@{/img/free-icon-close-4013407.png}" alt="닫기">
            </div>
            <div class="new-head-mesg">
                새로운 메시지
            </div>
            <div class="new-head-next">
                <button class="btn-next" disabled="disabled">다음</button>
            </div>
        </div>
        <div class="new-body1">
            <div class="new-body1-1">
                <div class="new-body1-2">
                    <h4 class="new-body1-3">받는 사람: </h4>
                </div>
                <div class="new-body2">
                    <input class="new-body2-1" autocomplete="off" name="queryBox" placeholder="검색..." spellcheck="false" type="text">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="new-body3">
            <div class="recommend">
                <div class="recommend-1">추천</div>
            </div>
            <div class="reco-list-wrap" aria-disabled="false" role="button" tabindex="0">
            <!--<div class="reco-list-main">
                    <div class="reco-list-img">
                        <span class="reco-list-img-1">
                          <img class="reco-list-img-real" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="계정사진">
                        </span>
                    </div>
                    <div class="reco-id">
                        <div class="reco-id-1">
                            <div class="reco-id-2">
                                <div class="reco-id-3">dlafjd</div>
                            </div>
                        </div>
                        <div class="reco-name">
                            <div class="reco-name-1">
                                아무개</div>
                        </div>
                    </div>
                    <div class="reco-btn">
                        <input type="radio">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
</th:block>
</html>