<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="postModalFragment">
    <div id="modal_postSelect" class="modalPost modal_post_overlay">
        <div class="modal_post_window">
            <div class="modal_post_title">
                <div class="modal_postDelete">
                    <span>삭제</span>
                </div>
                <div class="modal_postModify">
                    <span>수정</span>
                </div>
                <div class="modal_postCancel">
                    <span>취소</span>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>