<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/profileLayout}">
    <th:block layout:fragment="main">
        <div id="pro">
          <section>
              <div class="myProfile">
                  <div class="proPhoto">
                      <div>
                      <th:block th:if="${#strings.equals(myName, username)}">
                        <input type="file" class="real-addProf" accept="image/*" style="display: none;"/>
                          <th:block th:if="${not #strings.isEmpty(user.profileImg)}">
                              <img th:src="|@{/}thumb/${user.profileImg}" alt="profile" class="addProf"/>
                          </th:block>
                          <th:block th:unless="${not #strings.isEmpty(user.profileImg)}">
                              <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile" class="addProf"/>
                          </th:block>
                      </th:block>
                      <th:block th:unless="${#strings.equals(myName, username)}"></th:block>
                          <th:block th:if="${not #strings.isEmpty(user.profileImg)}">
                              <img th:src="|@{/}thumb/${user.profileImg}" alt="profile"/>
                          </th:block>
                          <th:block th:unless="${not #strings.isEmpty(user.profileImg)}">
                              <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile"/>
                          </th:block>
                      </div>
                  </div>
                  <div class="detail">
                      <div class="pTop">
                          <div class="userName">[[${username}]]</div>
                          <th:block th:if="${#strings.equals(myName, username)}">
                              <a th:href="@{/profile/modify}" class="button">프로필 편집</a>
                          </th:block>
                          <th:block th:unless="${#strings.equals(myName, username)}">
                              <a href="#" class="button" id="follow">팔로우</a>
                              <a href="#" class="button" id="following">팔로잉</a>
                          </th:block>

                      </div>
                      <ul class="pMiddle">
                          <li>
                              게시물<span>[[${post}]]</span>
                          </li>
                          <li>
                              팔로워<span>[[${follower}]]</span>
                          </li>
                          <li>
                              팔로잉<span>[[${following}]]</span>
                          </li>
                      </ul>
                      <p class="pAbout">
                          <span class="notice">
                              [[${user.profileText}]]
                          </span>
                      </p>
                  </div>
              </div>
              <div class="myNav">
                  <div><a href="#">게시물</a></div>
                  <div><a href="#">릴스</a></div>
                  <div><a href="#">태그됨</a></div>
              </div>
              <div class="myList">
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
                  <div class="pic">
                      <a href="#">
                          <img th:src="@{/img/300x300-1.png}">
                      </a>
                  </div>
              </div>
          </section>
            <div id="fCancel" class="fModal">
                <div class="fContents">
                    <span class="fClose">&times;</span>
                    <div id="fTop">
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile">
                        <span>[[${username}]]</span>
                    </div>
                    <ul id="fBottom">
                        <li><a href="#" class="fClose"><span>친한 친구 리스트에 추가</span><i class="fa-solid fa-star"></i></a></li>
                        <li><a href="#" class="fClose"><span>즐겨찾기에에 추가</span><i class="fa-regular fa-star"></i></a></li>
                        <li><a href="#" class="fClose"><span>일시 차단</span><i class="fa-solid fa-chevron-right"></i></a></li>
                        <li><a href="#" class="fClose"><span>제한</span><i class="fa-solid fa-chevron-right"></i></a></li>
                        <li ><a href="#" id="unFollow" class="fClose">팔로우 취소</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </th:block>
</html>
