<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/profileLayout}">
    <th:block layout:fragment="main">
        <div id="modi">
          <div id="myPass">
              <div>
                  <div>
                      <th:block th:if="${not #strings.isEmpty(user.profileImg)}">
                          <img th:src="|@{/}thumb/${user.profileImg}" alt="profile" class="addProf"/>
                      </th:block>
                      <th:block th:unless="${not #strings.isEmpty(user.profileImg)}">
                          <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile" class="addProf"/>
                      </th:block>
                  </div>
                  <div>
                      <input type="file" class="real-addProf" accept="image/*" style="display: none;"/>
                      <span>[[${user.username}]]</span>
                  </div>
              </div>
              <form th:action="@{/profile/modify}" method="post">
                  <input type="hidden" name="no" th:value="${user.no}"/>
                  <table>
                      <tbody>
                          <tr>
                              <td>
                                  <span>이전 비밀번호</span>
                              </td>
                              <td>
                                  <input type="password" name="prePass"/>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <span>새 비밀번호</span>
                              </td>
                              <td>
                                  <input type="password" name="pass1"/>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <span>새 비밀번호 확인</span>
                              </td>
                              <td>
                                  <input type="password" name="pass2"/>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <input id="passChange" type="submit" value="비밀번호 변경">
              </form>
              <a th:href="@{/profile/passReset}">비밀번호를 잊으셨나요?</a>
          </div>
        </div>
    </th:block>
</html>