<!DOCTYPE html>
<!--/*
날짜 : 2023/03/31
이름 : 조주영
내용 : 반응 화면
*/-->
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myLayout}">
    <th:block layout:fragment="main">
          <div id="myActivity">
              <div>
                  <a th:href="@{/my/interaction/like}">좋아요</a>
                  <a th:href="@{/my/interaction/comment}">댓글</a>
              </div>
              <div>
                  좋아요를 누른 콘텐츠가 없습니다.
              </div>
          </div>
    </th:block>
</html>