<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/searchLayout}">
<th:block layout:fragment="main">
    <div id="hash">
        <section>
            <div class="myProfile">
                <div class="proPhoto">
                    <div>
                        <input type="file" class="real-addProf" accept="image/*" style="display: none;"/>
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile" class="addProf"/>
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile"/>
                    </div>
                </div>
                <div class="detail">
                    <div class="pTop">
                        <div class="userName">#[[${hashtagName}]]</div>
                    </div>
                    <ul class="pMiddle">
                        <li>
                            게시물<span>[[${countHashTag}]]</span>개
                        </li>
                    </ul>
                    <th:block th:if="${result} > 0">
                        <input type="button" class="followBtn" value="팔로우" style="display: none;">
                        <input type="button" class="unFollowBtn" value="팔로잉">
                    </th:block>
                    <th:block th:unless="${result} > 0">
                        <input type="button" class="followBtn" value="팔로우">
                        <input type="button" class="unFollowBtn" value="팔로잉" style="display: none;">
                    </th:block>
                </div>
            </div>

            <div class="myNav">
                <div>인기 게시물</div>
            </div>
            <div class="myList">
                <th:block th:if="${#lists.isEmpty(postLikeList)}">
                    <div class="pic">
                        인기 게시물이 없습니다.
                    </div>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(postLikeList)}" th:each="like:${postLikeList}">
                    <div class="pic">
                        <a th:href="@{/board/post(no=${like.no})}">
                            <img th:src="@{/thumb/{img}(img=${like.imageVO[0].thumb})}">
                        </a>
                    </div>
                </th:block>
            </div>

            <div class="myNav">
                <div>최근 사진</div>
            </div>
            <div class="myList">
                <th:block th:if="${#lists.isEmpty(posts)}">
                    <div class="pic">
                        게시물이 없습니다.
                    </div>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(posts)}" th:each="post:${posts}">
                    <div class="pic">
                        <a th:href="@{/board/post(no=${post.no})}">
                            <img th:src="@{/thumb/{img}(img=${post.imageVO[0].thumb})}">
                        </a>
                    </div>
                </th:block>
            </div>
        </section>
    </div>
</th:block>
</html>
<script>
$(function(){
    $('.followBtn').on('click', function(e){
        e.preventDefault();

        let location = window.location.href;
        console.log(location);

        const url = new URL(location);
        const urlParams = url.searchParams;
        console.log(url);
        console.log(urlParams.get('no'));

        let no = urlParams.get('no');


    });
});
</script>


