<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/searchLayout}">
<th:block layout:fragment="main">
    <div id="hash">
        <section>
            <div class="myProfile">
                <div class="proPhoto">
                    <div>
                        <input type="file" class="real-addProf" accept="image/*" style="display: none;"/>
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile" class="addProf"/>
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="profile"/>
                    </div>
                </div>
                <div class="detail">
                    <div class="pTop">
                        <div class="userName">#[[${hashtagName}]]</div>
                    </div>
                    <ul class="pMiddle">
                        <li>
                            게시물<span>[[${countHashTag}]]</span>개
                        </li>
                    </ul>
                    <!--<input type="button" class="followBtn" value="팔로우">-->
                </div>
            </div>

            <div class="myNav">
                <div>인기 게시물</div>
            </div>
            <div class="myList">
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
                <div class="pic">
                    <a href="#">
                        <img th:src="@{/img/300x300-1.png}">
                    </a>
                </div>
            </div>

            <div class="myNav">
                <div>최근 사진</div>
            </div>
            <div class="myList">
                <th:block th:if="${#lists.isEmpty(posts)}">
                    <div class="pic">
                        게시물이 없습니다.
                    </div>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(posts)}" th:each="post:${posts}">
                    <div class="pic">
                        <a href="#">
                            <img th:src="@{/img/300x300-1.png}">
                        </a>
                    </div>
                </th:block>
            </div>
        </section>
    </div>
</th:block>
</html>


