.fullscreen{
    width: 870px;
    height: 900px;
    margin: 0 auto;
}

.left{
    width: 350px;
    height: 100%;
    float: left;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    overflow-y: auto;
    overflow-x: hidden;
}

.right{
    width: 520px;
    height: 100%;
    float: right;
    background: #ffffff;
    border: 1px solid #dbdbdb;
}

.up{
    width: auto;
    height: 60px;
    box-sizing: border-box;
}

.src1{
    width: 281px;
    height: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}


.src2{
    width: 50px;
    height: 100%;
    float: right;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}

.src2 img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 14%;
}

.dir2{
    /* 친구 리스트를 flex box로 레이아웃 구성 */
    grid-area: dir2; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.125rem; /* 16 브라우저 기준 2px */
    cursor: pointer;
    overflow: hidden auto;
}
ul{
    width: 340px;
    height: 70px;
    list-style: none;
    padding:0 0 8px 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
    /* unordered list 기본 스타일 제거(점, 들여쓰기) */
}
/* 제목(h2와 p) 사이즈 재정의 */
.profile-title > *{
    font-size: 0.75rem; /* 16px 브라우저 기준 12px 의미*/
    color: gray;
    display: inline-block;
    margin: 0;
}
li{
    /* 각각의 프로필을 flex box로 구성 */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1.25rem; /* 16 브라우저 기준 20px */
    margin-top: 0.625rem; /* 16 브라우저 기준 10px */
    margin-left: 15px;
    align-items: center;
}
li > img{
    /* 프로필사진 사이즈 조절 */
    width: 3.125rem;
}
.profile > *{
    /* 이름과 프로필 사진의 margin 조절 */
    margin: 0.3125rem; /* 5px (16px 브라우저 기준) */
    margin-left: 0.625rem;
}
.profile > *:first-of-type{
    /* 이름 스타일 변경 : 굵게 처리 */
    font-weight: bold;
    font-size: 0.875rem; /* 16 브라우저 기준 14px */
} 
.profile > *:nth-of-type(2){
    /* 상태메시지 스타일 변경*/
    color: gray;
    font-size: 12px; /* 16 브라우저 기준 12px */
}
.profile-title{
    border-top: 1px solid rgb(202, 200, 200);
    padding-top: 12px;
}

.newdir1{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 24px 24px 24px 24px;
}

.newdir1 img{
    width: 96px;
    height: 96px;
}

.mydir{
    margin-top: 16px;
}

.fgbsm{
    margin-top: 16px;
}

.mes{
    margin-top: 24px;
    background-color: rgb(var(--ig-primary-button));
    --ig-primary-button: 0, 149, 246;
    font-family: var(--font-family-system);
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(var(--web-always-white));
    --web-always-white: 255, 255, 255;
    font-size: 14px;
    font-weight: var(--font-weight-system-semibold);
    --font-weight-system-semibold: 600;
    border: none;
    border-radius: 8px;
    padding: 7px 16px!important;
    cursor: pointer;
}

/*modal 메시지 보내기*/
.mes-wrap{
    background-color:rgba(0,0,0,.3); 
    justify-content:center; 
    align-items:center;     
    position:fixed;         
    top:0;
    left:0;
    right:0;
    bottom:0;               
    display:flex; 
    padding:15px; 
    
  }

  .popup-mes{
    width:100%;               
    max-width:400px;  
    height: 601px;        
    border-radius:10px;       
    overflow:hidden;          
    background-color:#ffffff; 
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 

  }

  .popup-head{
    width:100%;
    height:42px;  
    display:flex; 
    align-items:center;
    justify-content:center;
    box-sizing: border-box;
    pointer-events: all;
    border-bottom: 0.5px solid #dbdbdb;
  }

  .popup-c{
    align-items: center;
    display: flex;
    flex-basis: 48px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    
    
  }

  .popup-c img{
    width: 40px;
    height: 40px;
    
  }


  .popup-body1{                
    width:100%;
    height: 72px;
    background-color:#ffffff; 
    border-bottom: 0.5px solid #dbdbdb;
  }

  .popup-body2{               
    width:100%;
    background-color:#ffffff; 
  }

  .img-wrap1 img{
    width: 40px;
    height:40px;
  }

  ._ac78 {
    align-items: center;
    border: 0;
    color: rgb(var(--ig-primary-text));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font: inherit;
    font-size: var(--system-16-font-size);
    font-weight: var(--font-weight-system-semibold);
    justify-content: center;
    line-height: var(--system-16-line-height);
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}

._ac7a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/**/
._ac7b {
    align-items: center;
    display: flex;
    flex-basis: 48px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}
._ac7c {
    float: left;
}

._ab9- {
    padding-left: calc(var(--base-unit) * 4);
    padding-right: calc(var(--base-unit) * 4);
    --base-unit: 4px;
}
._ab9p {
    flex: 0 0 auto;
}
._ab9f {
    justify-content: flex-start;
}
._ab9m {
    flex-direction: column;
}
._ab99 {
    align-items: stretch;
}
._ab94 {
    align-content: stretch;
}
._ab8w {
    display: flex;
}
._abcm {
    box-sizing: border-box;
    position: relative;
}

._abm2 {
    padding: 0;
}
._abl- {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
}
._abm0 {
    align-items: center;
    display: flex;
    justify-content: center;
}
._ab6- {
    display: block;
    position: relative;
}

._ac7d {
    float: right;
}
._ac7b {
    align-items: center;
    display: flex;
    flex-basis: 48px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}

._ab9- {
    padding-left: calc(var(--base-unit) * 4);
    padding-right: calc(var(--base-unit) * 4);
}
._ab9p {
    flex: 0 0 auto;
}
._ab9f {
    justify-content: flex-start;
}
._ab9m {
    flex-direction: column;
}
._ab99 {
    align-items: stretch;
}
._ab94 {
    align-content: stretch;
}
._ab8w {
    display: flex;
}
._abcm {
    box-sizing: border-box;
    position: relative;
}

._acan[disabled], a._acan[disabled] {
    pointer-events: none;
}
._acao, ._acao:visited, a._acao, a._acao:visited {
    border: 0;
    color: rgb(var(--ig-primary-button));
    display: inline-block;
    padding: 0!important;
    position: relative;
}
._acav {
    padding: 13px 20px!important;
}
._aj1- {
    text-align: center;
}
._acan {
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: var(--font-family-system);
    font-size: 14px;
    font-weight: var(--font-weight-system-semibold);
    padding: 7px 16px!important;
    pointer-events: auto;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
}

._acan[disabled]:not(._acax) {
    opacity: .7;
}

._aagz {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    position: relative;
    vertical-align: baseline;
    white-space: pre;
}