.fullscreen{
    width: 870px;
    height: 900px;
    margin: 0 auto;
}

.left{
    width: 350px;
    height: 100%;
    float: left;
    background: #ffffff;
    border: 1px solid #dbdbdb;
}

.right{
    width: 520px;
    height: 100%;
    float: right;
    background: #ffffff;
    border: 1px solid #dbdbdb;
}

.up{
    width: auto;
    height: 60px;
    
}

.src1{
    width: 298px;
    height: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}


.src2{
    width: 50px;
    height: 100%;
    float: right;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}

.src2 img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 14%;
}

.down{
    width: auto;
    height: 100%;
}

ul{
    list-style:none;
    padding: 8px 20px 8px 20px;
    }

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: center;
}    

li img{
    width: 50px;
    height: 50px;
    top: 15%;
    left: 15%;
    flex-direction: row;
}

p{
    font-size: 14px;
}
