<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/memberLayout">
<th:block layout:fragment="main">
<script>
// 체크박스 모두 선택
function selectAll(selectAll) {
    const checkboxes = document.getElementsByName('check');

    checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAll.checked;
    })
}

$(function() {
    $('#signin-btn').click(function() {
        let isCheck1 = $('input[class=terms]').is(':checked');
        let isCheck2 = $('input[class=data]').is(':checked');
        let isCheck3 = $('input[class=locate]').is(':checked');

        if(isCheck1 && isCheck2 && isCheck3) {
            alert('체크 완료!!!');
            let userData = sessionStorage.getItem("user");
            console.log("userData : ", userData);

            $.ajax({
                url: '/Photostagram/member/terms',
                method: 'POST',
                data: {userData : userData},
                dataType: 'json',
                success: function(data) {
                    if(data.result = 1) {
                        alert('회원가입이 완료되었습니다.');
                        sessionStorage.clear();
                        location.replace("/Photostagram/member/login");
                    } else {
                        alert('회원가입에 실패하였습니다.');
                    }
            });

        }else{
            alert('동의 체크를 하셔야 합니다.');
            return false;
        }
    });
});
</script>

<main class="member">
    <div class="container">
        <div class="main-container">
            <div class="main-content">
                <div class="form-container">
                    <div class="form-content box">
                        <div class="signin-form-reg" id="signin-form">
                            <div class="birth">
                                <p>이용 약관에 동의</p>
                                <div>
                                    Instagram은 회원님의 개인 정보를 안전하게 보호합<br>니다.
                                    새 계정을 만들려면 모든 약관에 동의하세요.
                                </div>
                            </div>
                            <!-- 이용약관 동의 -->
                        
                            <ul class="join_box">
                                <li class="checkBox check01">
                                    <ul class="clearfix" id="clearfix">
                                        <li>
                                            이용약관 3개에 모두 동의
                                        </li>
                                        <li class="checkAllBtn">
                                            <input type="checkbox" class="chkAll" onclick="selectAll(this)">
                                        </li>
                                    </ul>
                                </li>
                                <li class="checkBox check02">
                                    <ul class="clearfix">
                                        <li>
                                            이용약관(필수)<br>
                                            <a href="#">더 알아보기</a>
                                        </li>
                                        <li class="checkAllBtn">
                                            <input type="checkbox" name="check" class="terms">
                                        </li>
                                    </ul>
                                </li>
                                <li class="checkBox check03">
                                    <ul class="clearfix">
                                        <li>
                                            데이터 정책(필수)<br>
                                            <a href="#">더 알아보기</a>
                                        </li>
                                        <li class="checkAllBtn">
                                            <input type="checkbox" name="check" class="data">
                                        </li>
                                    </ul>
                                </li>
                                <li class="checkBox check04">
                                    <ul class="clearfix">
                                        <li>
                                            위치 기반 기능(필수)<br>
                                            <a href="#">더 알아보기</a>
                                        </li>
                                        <li class="checkAllBtn">
                                            <input type="checkbox" name="check" class="locate">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="btn-group">
                                <button type="submit" class="btn-login" id="signin-btn">
                                    가입
                                </button>
                            </div>
                            
                            <div class="birth">
                                <div>
                                    <a th:href="@{/member/birth}">돌아가기</a>
                                </div>
                            </div>                     
                        </div>
                    </div>
                    <div class="box goto">
                        <p>
                            계정이 있으신가요?
                            <a th:href="@{/member/login}">로그인</a>
                        </p>
                    </div>

                    <div class="app-download">
                        <p>앱을 다운로드 하세요.</p>
                        <div class="store-link">
                            <a href="#">
                                <img th:src="@{/img/appDownload.png}" alt="app store">
                            </a>
                            <a href="#">
                                <img th:src="@{/img/googlePlay.png}" alt="google play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>