<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/IndexLayout}">

<th:block layout:fragment="main">
    <section id="container">
    <!---- 스토리 부분 ---->
    <div class="hidden_menu">
      <div class="scroll_inner">
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr1</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr2</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr3</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
        <div class="user">
          <div class="thumb_img">
            <img src="./img/thumb.jpeg" alt="프로필사진" />
          </div>
          <div class="id">kindtigerrr</div>
        </div>
      </div>
    </div>

    <section id="main_container">

      <div class="inner">

        <div class="contents_box">
          <!-- 메인콘텐츠 -->
          <th:block th:each="article, i : ${articles}">
          <article th:class="contents" th:value="${article.no}">
            <header class="top">
              <div class="user_container">
                <!-- 상단 게시자 정보 div -->
                <div class="profile_img">

                  <!------------- 게시글 상단 프로필사진입니다 --------------------->
                  <a href="#"><img src="./img/thumb.jpeg" alt="프로필이미지"/></a>

                </div>
                <div class="user_name">
                  <div class="nick_name m_text">
                    <!------------- 게시글 상단 아이디입니다 --------------------->
                    <a href="#" th:text="${article.memberVO.username}">KindTiger</a>

                    <span class="jum">•</span>

                    <!------------- 게시글 상단 날짜입니다 --------------------->
                    <span class="time" th:text="${article.rdate}">1일</span>

                    <span class="jum">•</span>
                    <input type="button" class="followBtn" value="팔로우" />
                  </div>
                  <div class="country s_text">Seoul, South Korea</div>
                </div>
              </div>

              <!-- 게시글 상단 토글박스 div -->
              <div class="sprite_more_icon">
                <div class="moreIcon" data-name="more"></div>
              </div>
            </header>

            <!-- 게시글 사진 div -->
            <div class="img_section">
              <div class="trans_inner">
                <div>

                  <!------------- 게시글 사진입니다 --------------------->
                  <img src="./img/img_section/img01.jpg" alt="visual01" />

                </div>
              </div>
            </div>

            <!--좋아요, 댓글리스트, 공유, 북마크-->
            <div class="bottom_icons">
              <div class="left_icons">
                <div class="heart_btn">
                  <div class="sprite_heart_icon_outline"></div>
                </div>
                <div class="sprite_bubble_icon"></div>
                <div class="sprite_dm_icon" data-name="share">
                  <img src="./img/DM-image.png" alt="" />
                </div>
              </div>
              <div class="right_icon">
                <div
                        class="sprite_bookmark_outline"
                        data-name="bookmark"
                ></div>
              </div>
            </div>

            <div class="likes m_text">
              좋아요 <span id="like-count-39">2,346</span>개
            </div>

            <!-- 게시글 내용 div -->
            <div class="comment_container">
              <div class="comment" id="comment-list-ajax-post37">
                <div class="comment-detail">
                  <div class="nick_name m_text">

                    <!------------ 게시자 아이디 입니다 ----------->
                    <a href="#" th:text="${article.memberVO.username}">KindTiger</a>

                  </div>

                  <!------------- 게시글 내용 입니다 ----------------->
                  <div class="commentWord" th:text="${article.content}">
                    Lorem ipsum dolor sit amet, m repellend, numqu?
                  </div>
                </div>
              </div>
              <th:block th:each="comment : ${comments}" th:if="${#strings.equals(comment.post_no,article.no)}">
                <div class="reply_user">
                  <span class="reply_nick" th:text="${comment.username}">j_hlli</span>
                  <span class="reply_content" th:text="${comment.comment}">강아지가 너무 귀여워요!</span>
                  <span class="small_heart">
                  <div class="sprite_small_heart_icon_outline" ></div>
                </span>
                </div>
              </th:block>

            </div>
            <div class="commentMore">
              <input type="button" class="commentAll" value="댓글 82개 모두 보기"/>
            </div>

            <!----- 댓글 작성 폼 ------->
            <div class="comment_field" id="add-comment-post37">
              <input type="hidden" name="uid" th:value="${#authentication.principal.user.username}">
              <input type="hidden" name="postNo" th:value="${article.no}">
              <input type="hidden" name="userNo" th:value="${user.no}">
              <input type="text" name="commentText" class="commentText" placeholder="댓글달기..." />
              <a href="#" class="upload_btn m_text">게시</a>
            </div>
          </article>
          </th:block>
        </div>
        <!-- <input type="hidden" id="page" value="1"> 왜 있는지 모름 (보류)-->

        <!-- 게시글 오른쪽 사용자 프로필 및 정보 -->
        <div class="side_box">
          <div class="user_profile">
            <div class="profile_thumb">
              <img src="./img/thumb.jpeg" alt="프로필사진" />
            </div>
            <div class="detail">
              <div class="id m_text">KindTiger</div>
              <div class="ko_name">김길동</div>
            </div>
            <div class="trans">
              <a href="#">전환</a>
            </div>
          </div>

          <!----- 회원님을 위한 추천 ----->
          <article class="recommend">
            <header class="reco_header">
              <div>회원님을 위한 추천</div>
              <div class="more">모두 보기</div>
            </header>

            <div class="thumb_user">
              <div class="profile_thumb">
                <img src="./img/thumb02.jpg" alt="프로필사진" />
              </div>
              <div class="detail">
                <div class="id">kind_pizza</div>
                <div class="time">1시간 전</div>
              </div>
            </div>
            <div class="thumb_user">
              <div class="profile_thumb">
                <img src="./img/thumb02.jpg" alt="프로필사진" />
              </div>
              <div class="detail">
                <div class="id">kind_medium</div>
                <div class="time">1시간 전</div>
              </div>
            </div>
            <div class="thumb_user">
              <div class="profile_thumb">
                <img src="./img/thumb02.jpg" alt="프로필사진" />
              </div>
              <div class="detail">
                <div class="id">kind_large</div>
                <div class="time">1시간 전</div>
              </div>
            </div>
            <div class="thumb_user">
              <div class="profile_thumb">
                <img src="./img/thumb02.jpg" alt="프로필사진" />
              </div>
              <div class="detail">
                <div class="id">kind_tigerrrr</div>
                <div class="time">1시간 전</div>
              </div>
            </div>
          </article>
          <div class="info">
            <nav>
              <ul>
                <li><a href="#">소개&nbsp;|</a></li>
                <li><a href="#">도움말&nbsp;|</a></li>
                <li><a href="#">홍보센터&nbsp;|</a></li>
                <li><a href="#">API&nbsp;|</a></li>
                <li><a href="#">채용 정보&nbsp;|</a></li>
                <li><a href="#">개인정보처리방침&nbsp;|</a></li>
                <li><a href="#">약관&nbsp;|</a></li>
                <li><a href="#">위치&nbsp;|</a></li>
                <li><a href="#">언어&nbsp;|</a></li>
                <li><a href="#">Meta Verified</a></li>
              </ul>
            </nav>
            <span> © 2023 INSTAGRAM FROM META </span>
          </div>
        </div>
      </div>
    </section>
  </section>
</th:block>

</html>
