<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/chatLayout}">
<th:block layout:fragment="main">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript">
      
      $(function(){
          $("#confirm").click(function(){
              modalClose();
              //컨펌 이벤트 처리
          });
          $("#modal-open").click(function(){
            $("#overlay").css('display','flex').hide().fadeIn();
          });

          function modalClose(){
            $("#overlay").fadeOut();
          }
        });

    $(function(){
      $("#lay").click(function(){
        $("#overlay").css('display','flex').hide().fadeIn();
      });

      function modalClose(){
        $("#overlay").fadeOut();
      }
    });


    $(document).on("click", function(e){
        if( $("#overlay").is(e.target)) {$("#overlay").css({ visibility:"hidden", opacity:0 });
    }

    $('.chatMember').on('click', function(){
        let ul = $(this).parent('ul');
        let room_no =ul.children('input').val();

        location.href='/Photostagram/chat/content?room_no='+room_no;
    });

    var roomId = [[${roomNow.no}]];
    var username = [[${#authentication.principal.username}]];

    console.log(roomId + ", " + username);

    var sockJs = new SockJS("/Photostagram/stomp/chat/content");
    //1. SockJS를 내부에 들고있는 stomp를 내어줌
    var stomp = Stomp.over(sockJs);
/*
    $('.chatbox-box-1').keydown(function(key) {
        //키의 코드가 13번일 경우 (13번은 엔터키)
        if (key.keyCode == 13) {
            let content = $(this).val();
            let my_no = [[${user.no}]];
            let room_no = $('input[name=roomNow_no]').val();

            let jsonData = {"message":content, "user_no":my_no, "room":room_no};

            $.ajax({
                url:'/Photostagram/insertMessage',
                method:'POST',
                data:jsonData,
                dataType:'json',
                success:function(data){
                    let message = '<div class="chat ch2">';
                        message += '<div class="textbox">'+content+'</div>';
                        message += '</div>';

                    $('.wrap').append(message);
                }
            });
        }
    });*/

            //2. connection이 맺어지면 실행
            stomp.connect({}, function (){
               console.log("STOMP Connection")

               //4. subscribe(path, callback)으로 메세지를 받을 수 있음
               stomp.subscribe("/sub/chat/content/" + roomId, function (chat) {
                   var content = JSON.parse(chat.body);

                   var writer = content.writer;
                   var str = '';

                    console.log('content : '+content);
                    console.log('content.message : '+content.message);
                    console.log('content.writer : '+content.writer);

                   if(writer == username){
                       //alert('작성자가 username과 같습니다');
                       str = "<div class='chat ch2'>";
                       str += "<div class='textbox'>"+content.message+"</div>";
                       str += "</div>";
                   }
                   else{
                       //alert('작성자가 username과 다릅니다');
                       str = "<div class='chat ch1'>";
                       str += "<div class='icon'>";
                       str += "<img class='' src='/Photostagram/img/44884218_345707102882519_2446069589734326272_n.jpg' alt='계정사진'>";
                       str += "</div>";
                       str += "<div class='textbox'>"+content.message+"</div>";
                       str += "</div>";
                   }
                   $(".wrap").append(str);
               });

               //3. send(path, header, message)로 메세지를 보낼 수 있음
               //stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}));
            });


    $('.chatbox-box-1').keydown(function(key) {
        //키의 코드가 13번일 경우 (13번은 엔터키)
        if (key.keyCode == 13) {
            var msg = $('.chatbox-box-1').val();

            console.log(username + ":" + msg);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg, writer: username}));
            msg = '';

            let content = $(this).val();
            let my_no = [[${user.no}]];
            let room_no = $('input[name=roomNow_no]').val();

            let jsonData = {"message":content, "user_no":my_no, "room":room_no};

            console.log('content : '+ content);
            console.log('my_no : '+ my_no);
            console.log('room_no : '+ room_no);

/*
            $.ajax({
                url:'/Photostagram/insertMessage',
                method:'POST',
                data:jsonData,
                dataType:'json',
                success:function(data){
                    alert('데이터 입력완료!');

                    let message = '<div class="chat ch2">';
                        message += '<div class="textbox">'+content+'</div>';
                        message += '</div>';

                    $('.wrap').append(message);
                }
            });*/
        }
    });

  });
  
    </script>
  <div class="fullscreen">
    <div class="left">
        <div class="up">
            <div class="src1">
                <p>[[${user.username}]]</p>
            </div>
            <div class="src2">
                <img id="lay" th:src="@{/img/free-icon-writing-6570264.png}" alt="">
            </div>
        </div>
        <div class="dir2">
            <th:block th:if="${not #lists.isEmpty(rooms)}" th:each="room:${rooms}">
                <ul>
                    <input type="hidden" th:value="${room.no}" name="user_no"/>
                    <li class="chatMember" >
                        <th:block th:if="${#strings.isEmpty(room.members[0].profileImg)}">
                            <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="프로필사진">
                        </th:block>
                        <th:block th:unless="${#strings.isEmpty(room.members[0].profileImg)}">
                            <img th:src="@{/thumb/{img}(img=${room.members[0].profileImg})}" alt="프로필사진">
                        </th:block>
                        <div class="profile">
                            <p><span th:each="member:${room.members}">[[${member.username}]]&nbsp;</span></p>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </th:block>
            <th:block th:if="${not #lists.isEmpty(rooms2)}" th:each="room2:${rooms2}">
                <ul>
                    <input type="hidden" th:value="${room2.no}" name="user_no"/>
                    <li class="chatMember" >
                        <th:block th:if="${#strings.isEmpty(room2.members[0].profileImg)}">
                            <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="프로필사진">
                        </th:block>
                        <th:block th:unless="${#strings.isEmpty(room2.members[0].profileImg)}">
                            <img th:src="@{/thumb/{img}(img=${room2.members[0].profileImg})}" alt="프로필사진">
                        </th:block>
                        <div class="profile">
                            <p><span th:each="member:${room2.members}" th:if="${member.username != user.username}">[[${member.username}]]&nbsp;</span></p>
                            <p></p>
                        </div>
                    </li>
                </ul>
            </th:block>
        </div>
    </div>
    <div class="right-1">
      <div class="chat-head">
        <div class="chat-head-1">
            <div class="chat-head-2">
                <div class="chat-head-3"></div>
                <div class="chat-head-4">
                    <div class="chat-head-5">
                        <input type="hidden" th:value="${roomNow.no}" name="roomNow_no"/>
                        <div class="chat-head-6">
                            <span class="chat-head-7">
                                <th:block th:if="${#strings.isEmpty(roomNow.members[0].profileImg)}">
                                    <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="프로필사진">
                                </th:block>
                                <th:block th:unless="${#strings.isEmpty(roomNow.members[0].profileImg)}">
                                    <img th:src="@{/thumb/{img}(img=${roomNow.members[0].profileImg})}" alt="프로필사진">
                                </th:block>
                            </span>
                        </div>
                        <div class="chat-head-name">
                            <div class="chat-head-name-1">
                                <div class="chat-head-name-2">
                                    <div class="chat-head-name-3">
                                        <span th:each="user:${roomNow.members}">[[${user.username}]]&nbsp;</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-head-add">
                    <div class="chat-head-add-0">
                        <img th:src="@{/img/free-icon-telephone-4544272.png}" alt="음성 통화">
                    </div>
                    <div class="chat-head-add-1">
                      <img th:src="@{/img/free-icon-videos-4353992.png}" alt="영상 통화">
                    </div>
                    <div class="chat-head-add-2">
                      <img th:src="@{/img/free-icon-info-5258991.png}" alt="상세정보">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="wrap">
          <th:block th:if="${not #lists.isEmpty(chats)}" th:each="chat:${chats}">
              <div class="chat ch2" th:if="${chat.user_no == user.no}">
                  <div class="textbox">[[${chat.message}]]</div>
              </div>
              <div class="chat ch1" th:unless="${chat.user_no == user.no}">
                  <div class="icon">
                      <th:block th:if="@{#strings.isEmpty(chat.profileImg)}">
                          <img class="" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}" alt="계정사진">
                      </th:block>
                      <th:block th:unless="@{#strings.isEmpty(chat.profileImg)}">
                          <img class="" th:src="@{/thumb/{img}(img=${chat.profileImg})}" alt="계정사진">
                      </th:block>
                  </div>
                  <div class="textbox">[[${chat.message}]]</div>
              </div>
          </th:block>
    </div>
    <div class="chatbox">
      <div class="chatboxem-1">
        <div class="chatboxem-2">
          <div class="mj">
            <div class="chatboxem-3">
              <img th:src="@{/img/free-icon-smiling-emoticon-square-face-42877.png}" alt="이모티콘">
            </div>
          </div>
          <div class="chatbox-box">
            <input placeholder="메시지 입력..." class="chatbox-box-1"/>
          </div>
          <div class="chatg">
            <div class="chatg-1">
              <img th:src="@{/img/free-icon-gallery-4348117.png}" alt="갤러리">
            </div>
          </div>
          <div class="chath">
            <div class="chath-1">
              <img th:src="@{/img/free-icon-heart-shape-3717486.png}" alt="좋아요">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</th:block>
</html>