<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/profileLayout}">
<th:block layout:fragment="main">
    <script th:inline="javascript">
            let now = new Date();

            // 현재시간
            let year = now.getFullYear();
            let month = now.getMonth();
            let day = now.getDate();
            let hours = now.getHours();
            let minutes = now.getMinutes();

            $(function(){
               // 비교시간
                let noticesTime = [[${noticesTime}]];

                let h = 0;
                noticesTime.forEach(function(noticesTime, index){
                    let rdate = noticesTime.rdate;
                    console.log("rdate : "+rdate);
                    rdate = rdate.split(" ");

                    let date = rdate[0].split("-");
                    let sttYear = date[0];
                    let sttMonth = date[1];
                    sttMonth = parseInt(sttMonth)-1;
                    let sttDay = date[2];
                    console.log('sttYear : '+sttYear);
                    console.log('sttMonth : '+sttMonth);
                    console.log('sttDay : '+sttDay);

                    let time = rdate[1].split(":");
                    let sttHours = time[0];
                    let sttMinutes = time[1];
                    console.log("sttHours : "+sttHours);
                    console.log("sttMinutes : "+sttMinutes);

                    let calDate1 = new Date(year, month, day, hours, minutes);
                    let calDate2 = new Date(sttYear, sttMonth, sttDay, sttHours, sttMinutes);

                    console.log("Date1 : "+calDate1);
                    console.log("Date2 : "+calDate2);

                    let MSec = calDate1.getTime() - calDate2.getTime();
                    let Min = MSec / 1000 / 60;
                    Min = parseInt(Min);
                    let h = Min / 60;
                    h = Math.round(h);
                    console.log("h : "+h);
                    if(h == 24){
                        $('.comment-time')[index].append('1일');
                        return;
                    }else if(h < 24){
                        $('.comment-time')[index].append(h+'시간');
                        return;
                    }else{
                        h = Math.floor(h / 24);
                        if(h < 7){
                            $('.comment-time')[index].append(h+'일');
                            return;
                        }else{
                            h = Math.floor(h / 7);
                            $('.comment-time')[index].append(h+'주');
                        }
                    }
                });


            });
        </script>
    <div id="wrapper">
        <article id="post">
            <section class="picture" >
                   <div class="mySlide">
                            <div class="mySlides">
                                <th:block th:each="images:${images}">
                                    <img class="picture-size" th:src="|@{/}thumb/${images.thumb}" alt="picture">
                                </th:block>
                            </div>
                   </div>
            </section>
            <section class="contents">
                <nav>
                    <div id="profile">
                        <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                        <p class="postTop">
                            <span id="nick">[[${user.username}]]</span>
                            ·
                            <a id="postFollowing" href="#">팔로잉</a>
                            <a id="postFollow" href="#">팔로우</a>
                        </p>
                    </div>
                    <a href="#">...</a>
                </nav>
                    <ul>
                        <li>
                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                            <div class="reply">
                                <h1><span>[[${user.username}]]</span>[[${post.content}]]</h1>
                                <th:block th:each="hash:${hashes}">
                                    <a href="#">#[[${hash.hashtag}]]</a>
                                </th:block>
                                <div class="comment-time">
                                    5주
                                </div>
                            </div>
                        </li>
                        <li th:each="commentVo:${commentList}">
                            <img class="proImg" th:src="|@{/}thumb/${commentVo.profileImg}"  alt="profile">
                            <div class="reply">
                                <h1><span>[[${commentVo.username}]]</span>[[${commentVo.comment}]]</h1>
                                <!--/*
                                <th:block th:each="hash:${commentlist}">
                                    <a href="#">#[[${hash.board1VO.hashtag}]]</a>
                                </th:block>
                                */-->
                                <div class="comment-time">
                                    좋아요 <span>[[${commentVo.like_count}]]</span>개 &nbsp;&nbsp;
                                    <a href="#">답글달기</a>
                                </div>
                            </div>

                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                            <div class="showReply">
                                <a href="#" class="reOpen">ㅡ 답글보기</a>
                                <div class="listReply reHide">
                                    <ul class="reReply">
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div class="comment-time">
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div>
                                                    5주 &nbsp;&nbsp;
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div>
                                                    5주 &nbsp;&nbsp;
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div>
                                                    5주 &nbsp;&nbsp;
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div>
                                                    5주 &nbsp;&nbsp;
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                        <li>
                                            <img class="proImg" th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}"  alt="profile">
                                            <div class="reply">
                                                <h1><span>gildong</span>댓글 내용111111111111111111111111111111111111111111111111111111</h1>
                                                <a href="#">#해시태그</a>
                                                <div>
                                                    5주 &nbsp;&nbsp;
                                                    좋아요 <span>100</span>개 &nbsp;&nbsp;
                                                    <a href="#">답글달기</a>
                                                </div>
                                            </div>
                                            <a href="#" id="reHeart" class="reWhite">좋아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                <div>
                    <div>
                        <a href="#" id="like" class="unlike"></a>
                        <a href="#" id="writeReply"></a>
                        <a href="#" id="share"></a>
                        <a href="#" id="bookMark" class="remove"></a>
                    </div>
                    <div>
                        <div>좋아요 <span>[[${content_like_time.like}]]</span>개</div>
                        <div class="date" th:text="${#strings.substring(content_like_time.rdate, 5, 10)}">2월 28일</div>
                    </div>
                    <div>
                        <a href="#"><i class="fa-regular fa-face-smile fa-2x"></i></a>
                        <textarea name="" id=""></textarea>
                        <a href="#">게시</a>
                    </div>
                </div>
            </section>
        </article>
        <div id="more">
            <div><span>[[${user.username}]]</span>님의 게시물 더 보기</div>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
            <a href="#">
                <img th:src="@{/img/300x300-1.png}" alt="pic">
            </a>
        </div>
        <div id="pCancel" class="pModal">
            <div class="pContents">
                <div>
                    <img th:src="@{/img/44884218_345707102882519_2446069589734326272_n.jpg}">
                    <h1><span>[[${user.username}]]</span>님의 팔로우를 취소하시겠어요?</h1>
                </div>
                <ul>
                    <li><a href="#" class="pClose" id="postUnFollow">팔로우 취소</a></li>
                    <li><a href="#" class="pClose">취소</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>