<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/boardLayout}">
<th:block layout:fragment="main">
    <main>
        <div class="pic">
            <a href="#">
                    <video src="#"></video>
                    <i class="fa-solid fa-film fa-2x faIcons"></i>
                    <img src="#">
                        <i class="fa-solid fa-images fa-2x faIcons"></i>
            </a>
            <div class="picOver">
                <div><i class="fa-solid fa-heart fa-2x picOverI" style="color: #f0f4f9;"></i><span class="picOverSpan"></span></div>
                <div><i class="fa-solid fa-comment fa-2x picOverI" style="color: #f0f4f9;"></i><span class="picOverSpan"></span></div>
            </div>
        </div>
    </main>
</th:block>
</html>