<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/exploreLayout}">

<th:block layout:fragment="main">
  <div class="myList">
    <div class="pic">
      <a href="#">
          <video src="#"></video>
          <i class="fa-solid fa-film fa-2x faIcons"></i>
          <img src="#">
            <i class="fa-solid fa-images fa-2x faIcons"></i>
      </a>
    </div>
  </div>
</th:block>
</html>